<div class="remove-container container-block">
  <h2 class="container-block-title">
    Bitcoin
    <rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:media="http://search.yahoo.com/mrss/" version="2.0">
<channel>
<title>Feed: Artificial Intelligence Latest</title>
<description>Channel Description</description>
<link>https://www.wired.com</link>
<atom:link href="https://www.wired.com/feed/tag/ai/latest/rss" rel="self" type="application/atom+xml"/>
<copyright>© Condé Nast 2024</copyright>
<language>en-US</language>
<lastBuildDate>Thu, 13 Jun 2024 20:56:08 +0000</lastBuildDate>
<item>
<title>AI Chatbots Are Running for Office Now</title>
<link>https://www.wired.com/story/ai-chatbots-running-for-office/</link>
<guid isPermaLink="false">66672ab08f8c8c1f3abb13be</guid>
<pubDate>Thu, 13 Jun 2024 16:25:37 +0000</pubDate>
<media:content/>
<description>Meet AI Steve and VIC, the chatbots running for office in 2024.</description>
<category>Politics</category>
<category>Politics / Politics News</category>
<media:keywords>podcasts, WIRED Politics Lab Podcast, politics, artificial intelligence, chatbots, elections, 2024 election</media:keywords>
<dc:creator>Leah Feiger</dc:creator>
<dc:publisher>Condé Nast</dc:publisher>
<dc:subject>WIRED Podcasts</dc:subject>
<media:thumbnail url="https://media.wired.com/photos/666a3a6de419292a314f6286/master/pass/Politics-Lab-AI-Candidates-Politics.jpg" width="2400" height="2400"/>
</item>
<item>
<title>Apple Proved That AI Is a Feature, Not a Product</title>
<link>https://www.wired.com/story/apple-intelligence-ai-feature-not-product/</link>
<guid isPermaLink="false">6669f395d7df032909720b8b</guid>
<pubDate>Thu, 13 Jun 2024 16:00:00 +0000</pubDate>
<media:content/>
<description>Other tech companies want to sell you chatbots. Apple’s demos show the value of seeing the AI as an integrated, holistic experience rather than a stand-alone app or device.</description>
<category>Business</category>
<category>Business / Artificial Intelligence</category>
<media:keywords>Fast Forward, apple, artificial intelligence, iPhone, WWDC, OpenAI</media:keywords>
<dc:creator>Will Knight</dc:creator>
<dc:publisher>Condé Nast</dc:publisher>
<dc:subject>Fast Forward</dc:subject>
<media:thumbnail url="https://media.wired.com/photos/666a406ecd2db4ffb305956c/master/pass/WWDC-2024-AI-Fast-Forward-Business-2156971852.jpg" width="2400" height="1614"/>
</item>
<item>
<title>Publishers Target Common Crawl In Fight Over AI Training Data</title>
<link>https://www.wired.com/story/the-fight-against-ai-comes-to-a-foundational-data-set/</link>
<guid isPermaLink="false">6669b159f574084db29a8258</guid>
<pubDate>Thu, 13 Jun 2024 15:21:11 +0000</pubDate>
<media:content/>
<description>Long-running nonprofit Common Crawl has been a boon to researchers for years. But now its role in AI training data has triggered backlash from publishers.</description>
<category>Business</category>
<media:keywords>artificial intelligence, algorithms, machine learning, Tech Policy and Law</media:keywords>
<dc:creator>Kate Knibbs</dc:creator>
<dc:publisher>Condé Nast</dc:publisher>
<dc:subject>Data Wars</dc:subject>
<media:thumbnail url="https://media.wired.com/photos/666a2d831f5c6d0ce1fd5fe9/master/pass/business_common_crawl_data_ai_publishers.jpg" width="2400" height="1350"/>
</item>
<item>
<title>LinkedIn’s AI Career Coaches Will See You Now</title>
<link>https://www.wired.com/story/linkedin-ai-features-career-coach-chatbot/</link>
<guid isPermaLink="false">6669c8d8e8bbcf2185f43c12</guid>
<pubDate>Thu, 13 Jun 2024 13:00:00 +0000</pubDate>
<media:content/>
<description>LinkedIn’s new generative AI features include chatbots based on popular career coaches and tools to rewrite résumés and cover letters.</description>
<category>Business</category>
<category>Business / Artificial Intelligence</category>
<media:keywords>artificial intelligence, Work, LinkedIn, OpenAI, Microsoft</media:keywords>
<dc:creator>Amanda Hoover</dc:creator>
<dc:publisher>Condé Nast</dc:publisher>
<dc:subject>if they could CV now</dc:subject>
<media:thumbnail url="https://media.wired.com/photos/666a388bdd8c83831dde08a7/master/pass/LinkedIn-AI-Career-Coaches-Business-94119684.jpg" width="1600" height="2400"/>
</item>
<item>
<title>Artifact’s DNA Lives on in Yahoo’s Revamped AI-Powered News App</title>
<link>https://www.wired.com/story/yahoo-news-app-relaunch-artifact/</link>
<guid isPermaLink="false">6669d36f8e2f73faebad6758</guid>
<pubDate>Thu, 13 Jun 2024 13:00:00 +0000</pubDate>
<media:content/>
<description>Artifact, the news app startup from Instagram’s cofounders, was purchased by Yahoo earlier this year. The web giant then used some of Artifact’s AI smarts to supercharge its own mobile news app.</description>
<category>Gear</category>
<category>Gear / Gear News and Events</category>
<media:keywords>Yahoo, Apps, News, Mobile, artificial intelligence</media:keywords>
<dc:creator>Boone Ashworth</dc:creator>
<dc:publisher>Condé Nast</dc:publisher>
<dc:subject>Unbreaking News</dc:subject>
<media:thumbnail url="https://media.wired.com/photos/666a42c672c6acb6ab1d0f17/master/pass/New-Yahoo-News-App-Gear.jpg" width="2400" height="1800"/>
</item>
<item>
<title>Thinking Different About Apple AI</title>
<link>https://www.wired.com/story/gadget-lab-podcast-647/</link>
<guid isPermaLink="false">6663364b8c12c8c55752a093</guid>
<pubDate>Thu, 13 Jun 2024 12:00:00 +0000</pubDate>
<media:content/>
<description>This week, we discuss how Apple’s approach to artificial intelligence differs from those of its rivals. Hint: It goes deeper than Genmoji.</description>
<category>Gear</category>
<category>Gear / Gadget Lab Podcast</category>
<media:keywords>Gadget Lab Podcast, podcasts, WWDC, apple, iPhone, artificial intelligence</media:keywords>
<dc:creator>Lauren Goode, Michael Calore</dc:creator>
<dc:publisher>Condé Nast</dc:publisher>
<dc:subject>WIRED Podcasts</dc:subject>
<media:thumbnail url="https://media.wired.com/photos/666a422f054602e761145594/master/pass/Apple-AI-Gadget-Lab-Gear.jpg" width="2400" height="1800"/>
</item>
<item>
<title>If Ray Kurzweil Is Right (Again), You’ll Meet His Immortal Soul in the Cloud</title>
<link>https://www.wired.com/story/big-interview-ray-kurzweil/</link>
<guid isPermaLink="false">665e70fb363829504683c766</guid>
<pubDate>Thu, 13 Jun 2024 10:00:00 +0000</pubDate>
<media:content/>
<description>The famed futurist remains inhumanly optimistic about the world and his own fate—and thinks the singularity is minutes away.</description>
<category>Backchannel</category>
<media:keywords>longreads, Big Interview, longevity, Singularity, artificial intelligence</media:keywords>
<dc:creator>Steven Levy</dc:creator>
<dc:publisher>Condé Nast</dc:publisher>
<dc:subject>The Big Interview</dc:subject>
<media:thumbnail url="https://media.wired.com/photos/665f4551513621c0fca57cee/master/pass/BI_Kurzweil_Paterson_2.jpg" width="3125" height="2500"/>
</item>
<item>
<title>The Secret to Living Past 120 Years Old? Nanobots</title>
<link>https://www.wired.com/story/the-singularity-is-nearer-book-ray-kurzweil/</link>
<guid isPermaLink="false">66689276195720ee6c9e21d5</guid>
<pubDate>Thu, 13 Jun 2024 10:00:00 +0000</pubDate>
<media:content/>
<description>In The Singularity Is Nearer: When We Merge With AI, the spiritual sequel to his (in)famous first book, Ray Kurzweil doubles down on the promise of immortality.</description>
<category>Backchannel</category>
<category>Culture</category>
<category>Culture / Books</category>
<media:keywords>Book Excerpt, longreads, artificial intelligence, health, biotech</media:keywords>
<dc:creator>Ray Kurzweil</dc:creator>
<dc:publisher>Condé Nast</dc:publisher>
<media:thumbnail url="https://media.wired.com/photos/6668d8ec4b352fb60ae73928/master/pass/Kurweil-grid-03.jpg" width="2400" height="1350"/>
</item>
<item>
<title>Meet the Photographer Behind the Social Media App for Everyone Sick of Meta’s AI</title>
<link>https://www.wired.com/story/cara-portfolio-app-artificial-intelligence-jingna-zhang/</link>
<guid isPermaLink="false">6666fcd19c2933e73ca3537b</guid>
<pubDate>Wed, 12 Jun 2024 11:00:00 +0000</pubDate>
<media:content/>
<description>Artists are fleeing Meta’s platforms over fears their work will be used to train AI. Photographer Jingna Zhang’s Cara promises protection, but the influx of new users is taxing her niche portfolio app.</description>
<category>Culture</category>
<category>Culture / Digital Culture</category>
<media:keywords>artificial intelligence, machine learning, art, Social Media, Instagram, Digital culture</media:keywords>
<dc:creator>Kate Knibbs</dc:creator>
<dc:publisher>Condé Nast</dc:publisher>
<dc:subject>Digital Culture </dc:subject>
<media:thumbnail url="https://media.wired.com/photos/6668d66f53a4082e6b5d1d6d/master/pass/061124-culture-cara-app-artists-ai.jpg" width="2400" height="1350"/>
</item>
<item>
<title>An AI Bot Is (Sort of) Running for Mayor in Wyoming</title>
<link>https://www.wired.com/story/ai-bot-running-for-mayor-wyoming/</link>
<guid isPermaLink="false">66671ee9e7920290e939f42a</guid>
<pubDate>Wed, 12 Jun 2024 11:00:00 +0000</pubDate>
<media:content/>
<description>Wyoming’s secretary of state wants the county to reject its candidacy, but the AI bot’s human “meat puppet” says everything is in order.</description>
<category>Politics</category>
<category>Politics / Politics News</category>
<media:keywords>artificial intelligence, elections, ai, 2024 election, politics</media:keywords>
<dc:creator>Vittoria Elliott</dc:creator>
<dc:publisher>Condé Nast</dc:publisher>
<dc:subject>HELLO MR. MAYOR</dc:subject>
<media:thumbnail url="https://media.wired.com/photos/6668d406aee9b92337513e8d/master/pass/politics_ai_chatbot_mayor_wyoming.jpg" width="2000" height="2000"/>
</item>
</channel>
</rss>
    <div class="btcwdgt-price" bw-cash="true" bw-theme="light" bw-cur="jpy"></div>
    <div class="cryptohopper-web-widget" data-id="5" data-background_color="#ffffff" data-theme="custom" data-news_count="3" data-news_length="3"></div>
  </h2>
</div><!--//About-->
