sidebar:
  position: right
  about: True
  education: True

  name: Marilyn Stephens
  tagline: Computer Systems Analyst
  avatar: profile.jpg

  email: marilyn_stephens@hotmail.com
  phone: 757 218 0565
  timezone: America/New York Timezone
  citizenship: USA
  website: 
  linkedin: marilynstephens
  github: Marilyn2015
  telegram: Phoenix20155
  pdf: https://1drv.ms/w/c/67a9c8173eaa3099/EbtBKw-f1O1AgldLJRpFPx0B_k3JkyFsO4rMnevRPVtLLw?e=dbXWQH

  languages:
    title: Languages
    info:
      - idiom: English
        level: Native

  interests:
    title: Interests
    info:
      - item: Physics & Documentaries
        link: https://www.phys.org
      - item: AI & Large Language Models
        link: https://hai.stanford.edu/news/how-large-language-models-will-transform-science-society-and-ai
      - item: Scientific American
        link: https://www.scientificamerican.com
