---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
<div class="main-wrapper">
  <aside class="sidebar">
    <img src="{{ site.baseurl }}/assets/images/{{ site.data.data.sidebar.avatar }}" class="avatar" alt="Profile Picture" />
    <h2>{{ site.data.data.sidebar.name }}</h2>
    <p>{{ site.data.data.sidebar.tagline }}</p>
    <ul class="contact">
      <li>Email: <a href="mailto:{{ site.data.data.sidebar.email }}">{{ site.data.data.sidebar.email }}</a></li>
      <li>Phone: {{ site.data.data.sidebar.phone }}</li>
      <li>LinkedIn: {{ site.data.data.sidebar.linkedin }}</li>
      <li>GitHub: {{ site.data.data.sidebar.github }}</li>
      <li>Telegram: {{ site.data.data.sidebar.telegram }}</li>
    </ul>

    <h3>{{ site.data.data.sidebar.languages.title }}</h3>
    <ul>
      {% for lang in site.data.data.sidebar.languages.info %}
        <li>{{ lang.idiom }} – {{ lang.level }}</li>
      {% endfor %}
    </ul>

    <h3>{{ site.data.data.sidebar.interests.title }}</h3>
    <ul>
      {% for item in site.data.data.sidebar.interests.info %}
        <li><a href="{{ item.link }}">{{ item.item }}</a></li>
      {% endfor %}
    </ul>
  </aside>
  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
        {{ content }}
    </div>
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>

